.footer {
    background: $black-primary;
    // box-shadow: 11px 14px 13px rgba(0,0,0,.5);
    // bottom: 0;
    color: $white-primary;
    display: flex;
    justify-content: flex-end;
    padding: $xs-size;
    // position: absolute;
    // right: 0;
    // max-width: $xl-breakpoint;
}

// .footer-container {
//     // margin: auto;
//     // max-width: $xl-breakpoint;
//     // width: ;
// }

// @media (min-height: 90vh) {
//     .footer {
//         bottom: 0;
//         position: absolute;
//         width: 100%;
//     }
// }