.footer {
    display: flex;
    background: $black-primary;
    color: $white-primary;
    flex-direction: column-reverse;
    padding: 6rem $xs-size;
    text-align: center;

}

.footer--contact {
    margin-top: 5rem;
}

.footer--contact p, 
.footer--link,
.footer--about p {
    // padding: .8rem;
    padding: 0 .8rem;
}

.footer--intro,
.footer--phone, 
.footer--email, 
.footer--location, 
.footer--media {
    margin-bottom: 3rem;
}

.footer--social-title,
.footer--site-title {
    margin-left: .8rem;
    margin-bottom: 1rem;
}

.footer--social-title {
    font-weight: 600;
    font-size: 1.8rem;
}

.footer--link {
    color: $white-primary;
    display: inline-block;
    text-decoration: underline;
}

.footer--link:hover {
    color: $green-primary;
}

@media (min-width: $m-breakpoint) {
    .footer {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .footer--about {
        // margin-left: 2rem;
        width: 40%;
    }

    .footer--contact p, 
    .footer--link,
    .footer--about p {
        padding: .8rem;
    }

    .footer--intro,
    .footer--phone, 
    .footer--email, 
    .footer--location, 
    .footer--media {
        margin-bottom: 4rem;
    }

    .footer--contact {
        margin-top: 0;
    }

    .footer--social {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1.5rem;
    }
}