.nav {
    background: $black-primary;
    box-shadow: 0 4px 3px rgba(0,0,0,.5);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.nav-right {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.nav-dropdown {
    display: flex;
    flex-direction: column;
}

.nav-dropdown__display {
    display: none;
}

.nav-link {
    // box-sizing: border-box;
    color: $white-primary;
    font-size: 2.2rem;
    text-decoration: none;
    padding: 2rem;
}

.nav-link:hover {
    color: $green-primary;
}

.nav-link--active {
    color: $green-primary;
    border-bottom: 2px solid $green-primary;
}

@media (min-width: $m-breakpoint) {
    .nav-icon {
        display: none;
    }

    .nav-dropdown__display {
        display: flex;
    }

    .nav-dropdown {
        flex-direction: row;
    }
}