.home-section__card {
    border: 1px solid $white-primary;
    border-radius: $xs-size;
    color: $white-primary;
    display: flex;
    margin: $m-size;
}

.home-section__link {
    margin: auto;
    text-decoration: none;
}

.home-section__link-text {
    color: $green-primary;
    padding: $s-size;
    transition: scale .2s ease-in-out;
}

.home-section__link-text:hover {
    color: $white-primary;
    transform: scale(1.1);
}

.home-section__link-icon {
    display: block;
    font-size: $l-size;
    margin: $xs-size auto;
}

.home-section__text {
    padding: $s-size;
    width: 70%;
    height: 80%;
}

.home-section__text-title {
    font-size: 2.4rem;
}

.home-section__text-body {
    margin: $xs-size 0;
    text-indent: $m-size;
}

@media (min-width: $s-breakpoint) {
    .home-section__card {
        flex-direction: column;
        max-width: 24rem;
    }
    
    .home-section__text {
        padding: $m-size;
        width: 100%;
    }
}

@media (min-width: $m-breakpoint) {
    .home-section__card {
        min-width: 30rem;
    }
}
