.home-header {
    align-items: center;
    color: $white-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100&;
}

.home-header__title {
    text-align: center;
    font-size: $xl-size;
    margin-top: 2.5rem;
}

.home-header__title--inverse {
    background: $white-primary;
    color: $black-primary;
    display: block-inline;
    padding: $xs-size 0;
}

@mixin fade($fade-duration) {
    animation: fade-in $fade-duration ease-in-out $fade-duration backwards;
}

.home-header__text--fade-in {
    text-align: center;
}

.home-header__text--color {
    display: inline-block;
    color: #EE82EE;
    font-weight: 600;
}

.home-header__text--fade-in {
    font-size: 1.8rem;
}

.home-header__text--fade-in p {
    margin: 1rem;
}

.home-header__text--fade-in-25ms {
    @include fade(.25s)
}

.home-header__text--fade-in-50ms {
    @include fade(.5s)
}

.home-header__text--fade-in-100ms {
    @include fade(1s)
}

.home-header__text--fade-in-150ms {
    @include fade(1.5s)
}

.home-header__text--fade-in-200ms {
    @include fade(2s)
}

.home-header__text--fade-in-250ms {
    @include fade(2.5s)
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: $m-breakpoint) {
    // .home-header__text--fade-in {
        // display: none; // Remove when done
        // font-size: $m-size;
        // text-align: center;
    // }
}