.homepage {
    background: $black-primary;
    // height: 100%;
    height: 100vh;
}

.home-btn-group {
    display: block;
    text-align: center;
    margin: auto;
    padding: 1rem;
}

.home-btn--link {
    display: inline-block;
    margin: 1.5rem;
}

@media (min-width: $m-breakpoint) {
    .home-btn-group {
        margin: 5rem auto;
    }
}