.home-section {
    background: $black-primary;
}

@media (min-width: $s-breakpoint) {
    .home-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}