.about-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: center;
    margin: $xl-size auto;
}

.about-me__title {
    font-size: $xl-size;
    margin: 0;
}

.about-page p {
    margin: $m-size;
    text-indent: $xl-size;
}

@media (min-width: $xs-breakpoint) {
    .about-page {
        width: 70%;
    }
}

@media (min-width: $l-breakpoint) {
    .about-page {
        width: 60%;
    }
}