$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.2rem;

$black-primary: rgba(16, 16, 16, .9);
$grey-primary: 	rgb(240,240,240);
$orange-primary: rgb(184, 134, 11);
$white-primary: rgb(248,248,248);
$green-primary: RGB(73, 251, 53);

$xs-breakpoint: 420px;
$s-breakpoint: 580px;
$m-breakpoint: 680px;
$l-breakpoint: 800px;
$xl-breakpoint: 1225px;

// $xs-breakpoint: 42rem;
// $s-breakpoint: 58rem;
// $m-breakpoint: 68rem;
// $l-breakpoint: 80rem;
// $xl-breakpoint: 122.5rem;